html * {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body { 
    background-color: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    margin: 0px;
}

#canvas3D{
    width: 100vw;
    height: 100vh;
    /*display: block;*/
    /*position: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    background-color: black;
}

#content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.header {
    width: 100%;
    height: 100%;
}

.top_bar {
    position: fixed;
    background-color: black;
    text-align: right;
    z-index: 30;
    width: 100%;
    /*height: 106px;*/
    height: 55px;
    line-height: 50px;
}

.logo {
    position: fixed;
    left: 5px;
    top: 5px;
    width: 300px;
    z-index: 30;
}

.logo img {
    height: 112px;
    margin: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

.logo2 {
    position: absolute;
    left: 50%;
    top: 38%;
    z-index: 20;
    transform: translate(-50%,-50%);
}

.logo2 img {
    height: 250px;
    user-select: none;
    -webkit-user-drag: none;
}

.menu_item {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-right: 30px;
    vertical-align: -webkit-baseline-middle;
    z-index: 50;
}

.billboard {
    background-color: white;
    color: #1f1f1f;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: .5px;
    font-weight: 300;
    font-style: normal;
    padding: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px -1px 11px 0px #000;
}

.billboard a {
    color: black;
    font-weight: 400;
}

.billboard img {
    max-width: 80%;
    /*max-width: 800px;*/
    margin: auto;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
}

.billboard h1 {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 32px;
}

.billboard h2 {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 27px;
}

.billboard h3 {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 24px;
}

.billboard h4 {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 18px;
}

.billboard strong {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
}

.centering-panel {
    width: 100%;
}

.centering-element {
    margin: auto;
}

.newsletter {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    z-index: 20;
    /*background-color: black;*/
    opacity: 1;
    text-align: center;
    margin-top: -16px;
    padding-top: 27px;
    padding-bottom: 20%;
}

.footer p {
    font-family: 'Cinzel Decorative', helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.icon {
    width: 24px;
    margin: 10px;
}

a:hover {
    color: #B49F55;
}

a {
    color: #fff;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent !important;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

.cards {
    display: flex;
}
.cards > div {
    flex: 1; /*grow*/
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/*  UPDATED! flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#gallery {
    /*max-width: 80%;*/
    margin: auto;
    left: 50%;
}

#instafeed {
    position: relative;
    transform: translate(-43%,0);
}

#instafeed a {
    margin-left: 8px;
}

@media only screen and (max-width: 500px) {
    .top_bar {
        height: 35px;
        line-height: 20px;
    }

    .menu_item {
        padding-right: 20px;
    }

    .newsletter {
        width: 100%;
    }

    #gallery {
        max-width: 100%;
    }

    #instafeed {
        width: 100%;
    }

    #instafeed a {
        margin-left: 2px;
    }

    #instafeed img {
        width: 40px;
    }
}